{% extends "tsuki_app/base.html" %}

{% block body_block %}

  <div class="container-fluid">
  <h2> Consultar producto:</h2><br>
  <div class="jumbotron bg-white text-dark">
  <div class="row">
  <div class="col-lg-6" style='margin-bottom:30px;'>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        {{form.media}}
      <input class = 'btn btn-primary' type="submit" value="Consultar">
    </form>
  </div>
  <div class="row col-lg-6 col-md-7">
    {% if insumo == 'Salmon' %}
    <h5>Compra de salmon:</h5>
    <table class="table">
      <thead>
        <tr>
          <th>  </th>
      {% for i in sempas %}
          <th>{{i}}</th>
      {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cantidades semana pasada</td>
      {% for e in sempas.values %}
          <td>{{e}}</td>
        {% endfor %}
        </tr>
        <tr>
          <td>Equivalencia en KG y merma 23%</td>
        {% for e,a in sempas.items %}
          <td><p id="{{e}}"></p></td>
          <script type="text/javascript">
              totalsalmonxdia={{a}}*0.007/0.77;
              $('#'+'{{e}}').text(''+totalsalmonxdia.toFixed(2));
            </script>
              {% endfor %}
        </tr>
      </tbody>
    </table>
    {% else %}
    {% endif %}
      <!-- <table class="table">
        <thead>
          <tr>
            <th>Gasto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Caja Vinagre Mitzukan 710 ml x 12 un</td>
          </tr>
        </tbody>
      </table> -->
  </div>
  </div>

  </div>
  </div>

{% endblock %}
