<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="jumbotron">
        <form action="{% url 'tsuki_app:' %}" method="post">
          {% crsf_token %}
          <label for="username">Usuario</label>
          <input type="text" name="username" placeholder='Ingresar usuario'>

          <label for="password">Contraseña:</label>
          <input type="password" name="password" placeholder='password'>

          <input type="submit" name="" value="Ingresar">
        </form>
    </div>
  </body>
</html>
