{% extends "tsuki_app/base.html" %}
{% load my_extras %}

<!-- Aca se crea un pedido nuevo -->
{% block body_block %}

<!-- Cargar precios -->

<!-- {% for prod in lista %}
<script type="text/javascript">
listadoprecios.{{prod.id}} = [{{prod.precio_producto  }},"{{prod.nombre_producto}}"]
</script>
{% endfor %} -->


  <!-- Primera fila contiene la lista con los productos seleccionados, nombre fecha y comentarios -->
  <div class="container" style="margin-right:20px;margin-left:20px;padding:0px;" >
    <div class="row" style="margin:0px;padding:0px;">
      <div class="col-md-6 col-sm-12"  >
        <form method="post">
          {% csrf_token %}
          <!--Primera columna -->
          <div style="background-color: white;border:1px solid black;margin-right:0px;margin-top:15px;margin-bottom:3px;padding-top:10px;padding-left:5px;padding-bottom:10px;" class="row col-12">
            <h5 style="margin-top: 5px;margin-left: auto;margin-right: auto;">Nombre cliente</h5>
            {{form.client}}
          </div><br><br><br>
          <div style="background-color: white;border:1px solid black;margin-right:0px;margin-top:15px;margin-bottom:3px;padding-bottom:10px;padding-top:10px;" class="row col-12">
            <h5 style="margin-top: 5px;margin-left: auto;margin-right: auto;width:30%">Comentario</h5>
            {{ form.media }}
            {{form.comentario}}
          </div><br>
          <div style="background-color: white;border:1px solid black;margin-right:0px;margin-top:15px;margin-bottom:3px;padding-bottom:10px;padding-top:10px;" class="row col-12">
            <h5 style="margin-top: 5px;margin-left: auto;margin-right: auto;width:30%">Direccion</h5>
            {{form.direnvio}}
          </div>
          <br>
          <div class="row col-12">
            <h5> </h5>
          </div>
          <div style="background-color: white;border:1px solid black;margin-right:0px;margin-top:15px;margin-bottom:3px;padding-bottom:10px;" class="row col-12">
            <h5 style="margin-top: 5px;margin-left: auto;margin-right: auto;width:20%">Fecha</h5><br>
            {{form.fecha}}
          </div>
          <!-- Seccion boton confirmar pedido y modificar -->
          <div style="margin-top:10px;" class="row">
            <input name='Form1' class = 'btn-lg btn-primary' type="submit" value="Crear pedido">
          </div>
        </form>
      </div>
      <!-- Segunda columna -->
      <div class="col-md-6 col-sm-12">
        <div class="row col-12" style="background-color: white;border:1px solid black;margin-right:0px;margin-left:10px;margin-top:15px;margin-bottom:3px;padding-bottom:10px;max-height:200px;">
          <h5 style="margin-top:10px;">Nuevo cliente</h5>
          <div class="row col-12">
            <form method="post">
              {{form2.nombre_apellido}}
              {% csrf_token %}
              <input name='Form2' class = 'btn-lg btn-primary' type="submit" value="Crear cliente">
            </form>
          </div>
        </div>
        <div class="row col-12" style="background-color: white;border:1px solid black;margin-right:0px;margin-left:10px;margin-top:30px;margin-bottom:3px;padding-bottom:10px;">
          <h5 style='margin-top:10px;margin-left: auto;margin-right: auto;width:70%'>Nota para toma de pedidos:</h5><br>
          <ul>
            <li>Pedidos por Whatsapp: agendar con nombre y apellido/segundo nombre/otro y crear cliente en la APP tal y como esta agendado en el celu!</li><br>
            <li>Si el pedido entro por otro lado y no se tiene el numero, agendarlo como mostrador y poner el nombre del cliente como comentario</li><br>
            <li>NO CREAR un cliente si no esta agendado en el celular!</li><br>
            <li>No se pueden crear clientes con mismo nombre y apellido. En todo caso crear tipo Carlos Piva 2</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

  for (var i in productospedidos){
    total = total + productospedidos[i]*listadoprecios[i][0];
    $('#'+i+'.N').text(''+listadoprecios[i][1]);
    $('#'+i+'.T').text('$ '+listadoprecios[i][0]*productospedidos[i]);

  };

  var dateObj = new Date();
  var month = dateObj.getUTCMonth() + 1; //months from 1-12
  var day = dateObj.getUTCDate();
  var year = dateObj.getUTCFullYear();

  $('#total').html(' $ '+ total);

</script>


{% endblock %}
