{% extends "tsuki_app/base.html" %}

<!-- Aca se enlistan los pedidos del dia de la fecha -->


{% block body_block %}
<!-- Previene de imprimir todas las comandas al pedo -->
<script type="text/javascript">
  function detener(event){
    if (confirm("Va a imprimir todos las comandas del dia! Presiona Aceptar para continuar")){
    }else{
      event.preventDefault();
      }
    };
</script>

<div class="jumbotron">
<div id="primerfila"class="row">
  <div class="col-12">
    <div class="row">
    <div class="col-4">
      <form method="post">
        {% csrf_token %}
      {{fecha.media}}
      {{fecha.dia}}
      <button style="margin-top:5px;" class = 'btn btn-primary' type="submit" name="button"> Buscar </button>
      </form>
      </div>
      <div class="col-2">
      <a class = 'btn btn-secondary' href="{% url 'tsuki_app:imprimirtodos' %}" onclick="detener(event)">Imprimir todos</a>
      </div>
      <div class="col-3">
       <h5>{{x|date:"l"}}, {{x|date:"j"}} de {{x|date:"F"}} </h5>
      </div>
      <div class="col-3">
        <div class="col-12">
           <h5>Total pedidos: {{pedidostotales}}</h5>
        </div>
        <div class="col-12">
           <h5>Total Envios: {{envios}}</h5>
        </div>
      </div>
     </div>
  </div>
</div>
{% regroup productosdeordenes by pedido as pedido_list %}
  <div id="accordion">
      {% for pedido in pedido_list %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <h5 class="mb-0">
                  <button class="btn-lg mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ pedido.grouper }}
                  </button>
                </h5>
              </div>
              <div style="margin-top:10px;" class="col-6">
                  <h5>Total: $ {{pedido.grouper.get_total}}</h5>
              </div>
            </div>
          </div>
        <div class="col-6">
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-3">
                  <a class = 'btn btn-primary' href="{% url 'tsuki_app:modificarpedido' pk=pedido.grouper.id %}">Modificar</a>
              </div>
              <div class="col-3">
                  <a class = 'btn btn-secondary' href="{% url 'tsuki_app:imprimir' pk=pedido.grouper.id %}">Imprimir</a>
              </div>
              <div class="col-3">
                  <a class = 'btn btn-danger' href="{% url 'tsuki_app:confirmareliminar' pk=pedido.grouper.id %}">Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
        <div class="row">
          <div class="col-6">
            {% for producto in pedido.list  %}
            <li> {{producto.cantidad}} - {{ producto.item.nombre_producto }}</li>
            {% endfor %}
            </div>
            <div class="col-6">
              <div class="col-12">
                {{pedido.grouper.comentario}}
              </div>
              {% if pedido.grouper.direnvio !='' %}
              <div class="col-12">
                {{pedido.grouper.direnvio}}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
