{% extends "tsuki_app/base.html" %}


{% block body_block %}

<script type="text/javascript">
  var acum = 0;
</script>

<div class="jumbotron">
  <div class="row">
    <!-- Primer columna  -->
    <div class="col-6">
      <div class="row bg-white text-dark">
        <h5 style="margin-right:10px;">Total piezas:</h5>   <h4>{{ totalparroz }}</h4>
      </div><br>
      <div class="row bg-white text-dark">
        <h5 style="margin-right:10px;">Total Hot salmon:</h5>   <h4>{{ hotsalmon }}</h4>
      </div><br>
      <div class="row bg-white text-dark">
        <h5 style="margin-right:10px;">Total Hot langostinos:</h5>   <h4>{{ hotlang }}</h4>
      </div><br>
      <div class="row bg-white text-dark">
        <h5 style="margin-right:10px;">Total Langostinos x 6p:</h5>   <h4>{{ lreboz }}</h4>
      </div><br>
            <!-- Agrupas por tipo de producto, y sumas las cantidades -->
      {% for i in rolls %}
      <div class="row bg-white text-dark">
        <h5 style="margin-right:10px;">Total {{i.item}}:</h5><h4>{{i.cantidad}}</h4>
        </div>
        {% endfor %}
        </div>
      <!-- Segunda columna  -->
    <div class="col-6">
      <div class="row">
        <div class="row bg-white text-dark">
        </div><br>
      </div><br>
      </div>

  </div>

</div>

{% endblock %}
